<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="MailContent" />

<f:section name="Content">
<f:if condition="{news}">
    <f:then>
        <f:for each="{news}" as="newsItem" iteration="iterator">
            <tr>
                <td valign="top" colspan="2">
                    <h2>{newsItem.title}</h2>
                </td>
            </tr>
            <tr>
                <td valign="top" width="80%">
                    <p>{newsItem.teaser}</p>
                    <f:variable name="href"><n:link uriOnly="1" newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}" configuration="{forceAbsoluteUrl:1}" /></f:variable>
                    <f:render partial="ContentElements/Button" arguments="{href:href, text:'{f:translate(key: \'more-link\')}', rounded:1}"></f:render>
                </td>
                <td valign="top" width="20%">
                    <f:alias map="{mediaElement: newsItem.mediaPreviews.0}">
                        <n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}" configuration="{forceAbsoluteUrl:1}">
                            <f:if condition="{mediaElement.originalResource.type} == 2">
                                <f:then>
                                    <f:image
                                        image="{mediaElement}"
                                        title="{mediaElement.originalResource.title}"
                                        alt="{mediaElement.originalResource.alternative}"
                                        maxWidth="300"
                                        style="width:100%;height:100%;"/>
                                </f:then>
                                <f:else>
                                    <f:image
                                        src="EXT:news/Resources/Public/Images/dummy-preview-image.png"
                                        title="Dummy image"
                                        alt="Dummy image"
                                        maxWidth="300"
                                        style="width:100%;height:100%;"/>
                                </f:else>
                            </f:if>
                        </n:link>
                    </f:alias>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <p>&nbsp;</p>
                </td>
            </tr>
        </f:for>
    </f:then>
    <f:else>
        <div class="no-news-found">
            <f:translate key="list_nonewsfound" />
        </div>
    </f:else>
</f:if>
</f:section>
</html>
