<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
      xmlns:mail="http://typo3.org/ns/MEDIAESSENZ/Mail/ViewHelpers"
      data-namespace-typo3-fluid="true">
<div class="panel panel-default">
    <div class="table-fit">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th class="col-icon nowrap"></th>
                <th class="col-title col-responsive nowrap ps-4">
                    <f:translate key="{llg}LGL.title"/>
                </th>
                <th>
                    <f:translate key="{llg}LGL.description"/>
                </th>
                <th>
                    <f:translate key="{llg}LGL.type"/>
                </th>
                <th>
                    <f:translate key="{lll}recipient.categories"/>
                </th>
                <th class="col-control nowrap"></th>
            </tr>
            </thead>
            <f:for each="{data}" as="group">
                <tr>
                    <td class="col-icon nowrap">
                    <span class="position-relative">
                        <core:iconForRecord row="{uid:group.group.uid, type:group.group.type}"
                                            table="tx_mail_domain_model_group"/>
                        <span
                            class="position-absolute top-25 start-100 translate-middle badge rounded-pill bg-mail-theme pb-1">{group.count}</span>
                    </span>
                    </td>
                    <td class="col-title col-responsive nowrap">
                        <f:link.action class="btn btn-link" action="show" arguments="{group: group.group.uid}">
                            {group.group.title}
                        </f:link.action>
                    </td>
                    <td class="col-responsive nowrap">
                        {group.group.description}
                    </td>
                    <td class="nowrap">
                        {group.typeProcessed}
                    </td>
                    <td class="nowrap">
                        <f:for each="{group.categories}" as="category" iteration="categoryIterator">
                            {category.title}<f:if condition="!{categoryIterator.isLast}">, </f:if>
                        </f:for>
                    </td>
                    <td class="col-control nowrap">
                        <be:link.editRecord uid="{group.group.uid}" table="tx_mail_domain_model_group"
                                            class="btn btn-default" title="Edit group">
                            <core:icon identifier="actions-open" size="small"/>
                        </be:link.editRecord>
                        <f:link.action class="btn btn-default" action="show" arguments="{group: group.group.uid}">
                            <core:icon identifier="actions-list" size="small"/>
                        </f:link.action>
                </tr>
            </f:for>
        </table>
    </div>
</div>
</html>
