<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{data.CType} == 'news_pi1'">
	<f:then>
		<f:cObject typoscriptObjectPath="tt_content.news_pi1.20" data="{data}" table="tt_content" />
	</f:then>
	<f:else>
		<f:render partial="ContentElements/NotYetSupported" arguments="{_all}"/>
	</f:else>
</f:if>
</html>
