<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Default"/>

<f:section name="content">
    <f:variable name="lll" value="LLL:EXT:mail/Resources/Private/Language/Modules.xlf:"/>
    <h1><f:translate key="{lll}recipient.import.header"/></h1>
    <f:render partial="Wizard/Steps" arguments="{navigation: navigation}"/>
    <h2><f:translate key="{lll}recipient.import.mappingCharset.subheader"/></h2>
    <f:form action="csvImportWizardStepMapping" method="post" enctype="multipart/form-data">
        <f:if condition="{data.charsets -> f:count()}">
            <fieldset class="form-section mb-4 pb-3">
                <label for="csvImportCharset" class="form-label">
                    <f:translate key="{lll}recipient.import.mappingCharset.pleaseChoose"/>
                </label>
                <f:form.select class="form-select mb-2" options="{data.charsets}" optionValueField="val"
                               optionLabelField="text" id="csvImportCharset" name="configuration[charset]"
                               value="{data.charset}">
                </f:form.select>
                <f:render section="commonHiddenFields" arguments="{_all}" />
                <f:form.submit name="configuration[update]" value="{f:translate(key: '{lll}general.button.update')}" class="btn btn-mail-theme text-uppercase"/>
            </fieldset>
        </f:if>
    </f:form>
    <f:form action="csvImportWizardStepStartImport" method="post" enctype="multipart/form-data">
        <f:if condition="{data.error -> f:count()}">
            <h3>
                <f:translate key="{lll}recipient.import.mapping.error"/>
            </h3>
            <f:translate key="{lll}recipient.import.mapping.error_detail"/>
            <ul>
                <f:for each="{data.error}" as="error">
                    <li>
                        <f:translate key="{lll}recipient.import.mapping.error_{error}"/>
                    </li>
                </f:for>
            </ul>
        </f:if>
        <h3>
            <f:translate key="{lll}recipient.import.fieldMapping"/>
        </h3>
        <fieldset class="form-section mb-4">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>
                        <f:translate key="{lll}recipient.import.mapping.number"/>
                    </th>
                    <th>
                        <f:translate key="{lll}recipient.import.mapping.description"/>
                    </th>
                    <th>
                        <f:translate key="{lll}recipient.import.mapping.mapping"/>
                    </th>
                    <th>
                        <f:translate key="{lll}recipient.import.mapping.value"/>
                    </th>
                </tr>
                </thead>
                <tbody>
                <f:if condition="{data.table -> f:count()}">
                    <f:for each="{data.table}" iteration="iterator" as="row">
                        <tr>
                            <td>{iterator.cycle}</td>
                            <td>
                                {row.mapping_description -> f:format.raw()}
                            </td>
                            <td>
                                <f:if condition="{data.fields -> f:count()}">
                                    <f:form.select class="form-select form-control-adapt" name="configuration[map][{row.mapping_i}]" value="{row.mapping_mappingSelected}">
                                        <f:for each="{data.fields}" as="field">
                                            <f:form.select.option value="{field.0}">{field.1}</f:form.select.option>
                                        </f:for>
                                    </f:form.select>
                                </f:if>
                            </td>
                            <td>
                                <f:if condition="{row.mapping_value -> f:count()}">
                                    <table class="table table-striped table-hover">
                                        <f:for each="{row.mapping_value}" as="mv">
                                            <tr>
                                                <td>
                                                    {mv -> f:format.raw()}
                                                </td>
                                            </tr>
                                        </f:for>
                                    </table>
                                </f:if>
                            </td>
                        </tr>
                    </f:for>
                </f:if>
                </tbody>
            </table>
        </fieldset>
        <h3>
            <f:translate key="{lll}recipient.import.fieldMapping.additionalOptions"/>
        </h3>
        <fieldset class="form-section mb-4">
            <div class="form-check mb-4">
                <f:form.checkbox class="form-check-input" id="AllHtml" name="configuration[all_html]" value="1" checked="{data.all_html}"/>
                <label class="form-check-label" for="AllHtml">
                    <f:translate key="{lll}recipient.import.allHtml"/>
                </label>
            </div>
            <f:if condition="{data.categories -> f:count()}">
                <h4><f:translate key="{lll}recipient.import.assignAllCategories"/></h4>
                <f:for each="{data.categories}" as="category">
                    <div class="form-check">
                        <f:form.checkbox class="form-check-input" id="category{category.uid}" name="configuration[categories][{category.uid}]" value="{category.uid}"
                                         checked="{category.checked}"/>
                        <label class="form-check-label" for="category{category.uid}">{category.title}</label>
                    </div>
                </f:for>
            </f:if>
        </fieldset>
        <f:render section="commonHiddenFields" arguments="{_all}" />
        <f:form.hidden name="configuration[charset]" value="{data.charset}"/>
        <f:link.action action="csvImportWizardStepConfiguration" class="btn btn-default text-uppercase">
            <f:translate key="{lll}general.button.back"/>
        </f:link.action>
        <f:form.button type="submit" class="btn btn-mail-theme text-uppercase">
            <f:translate key="{lll}general.button.next"/>
        </f:form.button>
    </f:form>
</f:section>

<f:section name="commonHiddenFields">
    <f:form.hidden name="configuration[newFile]" value="{data.newFile}"/>
    <f:form.hidden name="configuration[newFileUid]" value="{data.newFileUid}"/>
    <f:form.hidden name="configuration[storage]" value="{data.storage}"/>
    <f:form.hidden name="configuration[removeExisting]" value="{data.removeExisting}"/>
    <f:form.hidden name="configuration[firstFieldname]" value="{data.firstFieldname}"/>
    <f:form.hidden name="configuration[validEmail]" value="{data.validEmail}"/>
    <f:form.hidden name="configuration[removeDublette]" value="{data.removeDublette}"/>
    <f:form.hidden name="configuration[updateUnique]" value="{data.updateUnique}"/>
    <f:form.hidden name="configuration[delimiter]" value="{data.delimiter}"/>
    <f:form.hidden name="configuration[encapsulation]" value="{data.encapsulation}"/>
    <f:form.hidden name="configuration[recordUnique]" value="{data.recordUnique}"/>
</f:section>
</html>
