<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Default"/>

<f:section name="content">
    <f:variable name="lll" value="LLL:EXT:mail/Resources/Private/Language/Modules.xlf:"/>
    <h1><f:translate key="{lll}recipient.import.header"/></h1>
    <f:render partial="Wizard/Steps" arguments="{navigation: navigation}"/>
    <h2><f:translate key="{lll}recipient.import.settings"/></h2>
    <f:form action="csvImportWizardStepMapping" method="post" enctype="multipart/form-data">
        <fieldset class="form-section mb-3">
            <table class="table table-striped table-hover">
                <tbody>
                <tr>
                    <td>
                        <f:translate key="{lll}recipient.import.settings"/>
                    </td>
                    <td>
                        <f:if condition="{data.storage -> f:count()}">
                            <f:form.select class="form-select form-control-adapt" name="configuration[storage]" value="{data.storageSelected}">
                                <f:for each="{data.storage}" as="storage">
                                    <f:form.select.option value="{storage.val}">{storage.text}</f:form.select.option>
                                </f:for>
                            </f:form.select>
                        </f:if>
                    </td>
                </tr>
                <tr>
                    <td>
                        <f:translate key="{lll}recipient.import.removeExisting"/>
                    </td>
                    <td>
                        <f:form.checkbox name="configuration[removeExisting]" value="1"
                                         checked="{data.removeExisting} == 1"
                                         disabled="{f:if(condition: '{data.disableInput}', then: 'disabled')}"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <f:translate key="{lll}recipient.import.firstRowContainFieldNames"/>
                    </td>
                    <td>
                        <f:form.checkbox name="configuration[firstFieldname]" value="1"
                                         checked="{data.firstFieldname} == 1"
                                         disabled="{f:if(condition: '{data.disableInput}', then: 'disabled')}"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <f:translate key="{lll}recipient.import.separator"/>
                    </td>
                    <td>
                        <f:if condition="{data.delimiter -> f:count()}">
                            <f:form.select class="form-select form-control-adapt"
                                           name="configuration[delimiter]"
                                           value="{data.delimiterSelected}"
                                           disabled="{f:if(condition: '{data.disableInput}', then: 'disabled')}">
                                <f:for each="{data.delimiter}" as="delimiter">
                                    <f:form.select.option value="{delimiter.val}">{delimiter.text}
                                    </f:form.select.option>
                                </f:for>
                            </f:form.select>
                        </f:if>
                    </td>
                </tr>
                <tr>
                    <td>
                        <f:translate key="{lll}recipient.import.encapsulation"/>
                    </td>
                    <td>
                        <f:if condition="{data.encapsulation -> f:count()}">
                            <f:form.select class="form-select form-control-adapt"
                                           name="configuration[encapsulation]"
                                           value="{data.encapsulationSelected}"
                                           disabled="{f:if(condition: '{data.disableInput}', then: 'disabled')}">
                                <f:for each="{data.encapsulation}" as="encapsulation">
                                    <f:form.select.option value="{encapsulation.val}">{encapsulation.text}
                                    </f:form.select.option>
                                </f:for>
                            </f:form.select>
                        </f:if>
                    </td>
                </tr>
                <tr>
                    <td>
                        <f:translate key="{lll}recipient.import.validEmail.description"/>
                    </td>
                    <td>
                        <f:form.checkbox name="configuration[validEmail]" value="1"
                                         checked="{data.validEmail} == 1"
                                         disabled="{f:if(condition: '{data.disableInput}', then: 'disabled')}"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <f:translate key="{lll}recipient.import.dublette.description"/>
                    </td>
                    <td>
                        <f:form.checkbox name="configuration[removeDublette]" value="1"
                                         checked="{data.removeDublette} == 1"
                                         disabled="{f:if(condition: '{data.disableInput}', then: 'disabled')}"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <f:translate key="{lll}recipient.import.updateUnique"/>
                    </td>
                    <td>
                        <f:form.checkbox name="configuration[updateUnique]" value="1"
                                         checked="{data.updateUnique} == 1"
                                         disabled="{f:if(condition: '{data.disableInput}', then: 'disabled')}"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <f:translate key="{lll}recipient.import.recordUnique"/>
                    </td>
                    <td>
                        <f:if condition="{data.recordUnique -> f:count()}">
                            <f:form.select class="form-select form-control-adapt"
                                           name="configuration[recordUnique]"
                                           value="{data.recordUniqueSelected}"
                                           disabled="{f:if(condition: '{data.disableInput}', then: 'disabled')}">
                                <f:for each="{data.recordUnique}" as="recordUnique">
                                    <f:form.select.option value="{recordUnique.val}">{recordUnique.text}
                                    </f:form.select.option>
                                </f:for>
                            </f:form.select>
                        </f:if>
                    </td>
                </tr>
                </tbody>
            </table>
        </fieldset>
        <f:form.hidden name="configuration[newFile]" value="{data.newFile}"/>
        <f:form.hidden name="configuration[newFileUid]" value="{data.newFileUid}"/>
        <f:form.hidden name="configuration[nextStep]" value="mapping"/>
        <f:link.action action="csvImportWizard" class="btn btn-default text-uppercase">
            <f:translate key="{lll}general.button.back"/>
        </f:link.action>
        <f:form.button name="configuration[next]" value="1" type="submit" class="btn btn-mail-theme text-uppercase">
            <f:translate key="{lll}general.button.next"/>
        </f:form.button>
    </f:form>
</f:section>
</html>
