<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
      xmlns:mail="http://typo3.org/ns/MEDIAESSENZ/Mail/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Default"/>

<f:section name="content">
    <f:variable name="lll" value="LLL:EXT:mail/Resources/Private/Language/Modules.xlf:"/>
    <h1>
        <f:translate key="{lll}queue.header"/>
    </h1>
    <f:if condition="!{hideManualSendingButton}">
        <f:be.infobox title="{f:translate(key: '{lll}queue.manualSending')}">
            <p>
                <f:translate key="{lll}queue.manualSending.description" arguments="{0: sendPerCycle}"/>
            </p>
            <f:link.action action="trigger" class="btn btn-mail-theme"><f:translate key="{lll}queue.button.triggerManualSending"/></f:link.action>
        </f:be.infobox>
    </f:if>
    <div class="panel panel-default">
        <table class="mail-queue-table table table-striped table-hover mb-0">
            <thead>
            <tr>
                <th class="col-icon nowrap"></th>
                <th class="col-title col-responsive nowrap">
                    <f:translate key="{lll}queue.subject"/>
                </th>
                <th class="nowrap">
                    <f:translate key="{lll}queue.scheduled"/>
                </th>
                <th class="nowrap">
                    <f:translate key="{lll}queue.deliveryBegun"/>
                </th>
                <th class="nowrap">
                    <f:translate key="{lll}queue.deliveryEnded"/>
                </th>
                <th class="nowrap text-center" style="min-width: 200px;">
                    <f:translate key="{lll}queue.progress"/>
                </th>
                <f:if condition="!{hideDeleteRunningSendingButton}">
                    <th class="col-control nowrap">
                    </th>
                </f:if>
            </tr>
            </thead>
            <tbody>
            <f:for each="{mails}" as="mail">
                <tr class="table-success {f:if(condition:'!{mail.sent}', then:'table-info')}">
                    <td class="col-icon nowrap">
                        <core:iconForRecord row="{uid: mail.uid, type:0}" table="tx_mail_domain_model_mail"/>
                    </td>
                    <td class="col-title col-responsive nowrap">{mail.subject}</td>
                    <td class="nowrap">{mail.scheduled -> f:format.date(format: 'd.m.Y H:i')}</td>
                    <td class="nowrap mail-scheduled-begin">{mail.scheduledBegin -> f:format.date(format: 'd.m.Y H:i')}</td>
                    <td class="nowrap mail-scheduled-end">{mail.scheduledEnd -> f:format.date(format: 'd.m.Y H:i')}</td>
                    <td class="nowrap"><f:render partial="ProgressBar" arguments="{mail:mail}" /></td>
                    <f:if condition="!{hideDeleteRunningSendingButton}">
                        <td class="col-control nowrap">
                            <f:if condition="!{mail.sent}">
                                <f:link.action action="delete" arguments="{mail: mail}" class="mail-delete-button btn btn-default"><core:icon identifier="actions-edit-delete"/></f:link.action>
                            </f:if>
                        </td>
                    </f:if>
                </tr>
            </f:for>
            </tbody>
        </table>
    </div>
    <div style="--bs-modal-zindex:1051;" class="modal fade modal-type-default modal-severity-notice modal-style-default modal-size-medium" id="mail-queue-configuration-modal" tabindex="-1" aria-labelledby="mail-queue-configuration-modal-label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="mail-queue-configuration-modal-label"><f:translate key="{lll}configuration.panel.module.header" /></h5>
                    <button class="t3js-modal-close close" data-bs-dismiss="modal" aria-label="Close">
                        <core:icon identifier="actions-close" />
                        <span class="visually-hidden"><f:translate key="{lll}general.button.cancel" /></span>
                    </button>
                </div>
                <div class="modal-body">
                    <f:form action="saveConfiguration" id="mail-queue-configuration-form" class="mail-queue-configuration-formx" target="list_frame">
                        <div class="form-group">
                            <label for="queueModalConfigure-sendPerCycle-title"><f:translate key="{lll}configuration.sendPerCycle" /></label>
                            <f:form.textfield name="sendPerCycle" type="number" additionalAttributes="{min: 1, max: 500}" id="queueModalConfigure-sendPerCycle-title" class="form-control" value="{sendPerCycle}" required="required" />
                        </div>
                        <div class="form-group">
                            <label for="queueModalConfigure-queueLimit-title"><f:translate key="{lll}configuration.queueLimit" /></label>
                            <f:form.textfield name="queueLimit" type="number" additionalAttributes="{min: 0, max: 100}" id="queueModalConfigure-queueLimit-title" class="form-control" value="{queueLimit}" required="required" />
                        </div>
                        <div class="form-group">
                            <label for="queueModalConfigure-refreshRate-title"><f:translate key="{lll}configuration.refreshRate" /></label>
                            <f:form.textfield name="refreshRate" type="number" additionalAttributes="{min: 0, max: 600}" id="queueModalConfigure-refreshRate-title" class="form-control" value="{refreshRate}" required="required" />
                        </div>
                    </f:form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-bs-dismiss="modal"><f:translate key="{lll}general.button.cancel" /></button>
                    <button type="submit" form="mail-queue-configuration-form" class="btn btn-primary"><f:translate key="{lll}general.button.save" /></button>
                </div>
            </div>
        </div>
    </div>
</f:section>
</html>
