<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
      xmlns:mail="http://typo3.org/ns/MEDIAESSENZ/Mail/ViewHelpers"
      data-namespace-typo3-fluid="true">

<div class="panel-group" id="mail-recipient-list-panel">
    <f:for each="recipientSources" as="recipients" key="recipientSource" iteration="recipientSourceIterator">
        <f:if condition="{recipientSource}">
            <f:variable name="title">
                <f:translate key="{lll}report.returned.recipientSource.{recipientSource}" default="{recipientSource}"/>
            </f:variable>
            <f:variable name="additionalHeading">
                <f:link.action action="csvExportTotalReturned" arguments="{mail: mail.uid, recipientSource: recipientSource}"
                               class="btn btn-default btn-sm text-uppercase">
                    <core:icon identifier="content-csv" overlay="actions-arrow-down-alt"/>
                    <f:translate key="{lll}general.button.downloadCsv"/>
                </f:link.action>
            </f:variable>
            <f:variable name="counter" value="{recipients -> f:count()}"/>
            <f:render partial="Panel" arguments="{lll:lll, parentId:'mail-recipient-list-panel-{recipientSource}', title: title, index:recipientSourceIterator.index, open:1, counter: counter, additionalHeading:additionalHeading}" contentAs="panelBody">
                <f:if condition="{recipientSource} == 'tx_mail_domain_model_group'">
                    <f:then>
                        <ul>
                            <f:for each="{recipients}" as="recipient">
                                <li>
                                    {recipient}
                                </li>
                            </f:for>
                        </ul>
                    </f:then>
                    <f:else>
                        <f:render partial="Report/ReturnedTable" arguments="{recipients: recipients, recipientSource: recipientSource, lll:lll}"/>
                    </f:else>
                </f:if>
            </f:render>
        </f:if>
    </f:for>
</div>
</html>
