<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
      xmlns:mail="http://typo3.org/ns/MEDIAESSENZ/Mail/ViewHelpers"
      data-namespace-typo3-fluid="true">

<div class="mt-4">
    <f:link.action action="{previousAction}" arguments="{mail:mail}" class="btn btn-default text-uppercase"><f:translate key="{lll}general.button.back" /></f:link.action>
    <f:if condition="{nextAction}">
        <f:link.action action="{nextAction}" arguments="{mail:mail}" class="btn btn-mail-theme text-uppercase"><f:translate key="{lll}general.button.next" /></f:link.action>
    </f:if>
</div>

</html>
