<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
      xmlns:mail="http://typo3.org/ns/MEDIAESSENZ/Mail/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Default"/>

<f:section name="content">
    <f:variable name="lll" value="LLL:EXT:mail/Resources/Private/Language/Modules.xlf:"/>
    <h1>
        <f:translate key="{lll}mail.wizard.title"/>: <f:translate key="{lll}mail.wizard.categories"/>
    </h1>
    <f:render partial="Wizard/Steps" arguments="{navigation: navigation}"/>
    <h2>
        <core:iconForRecord row="{uid: mail.uid, type:0}" table="tx_mail_domain_model_mail" size="default"/>
        {mail.subject}
    </h2>
    <f:render partial="HelpModal" arguments="{titleLanguageKey: '{lll}mail.wizard.categories.alttitle', bodyLanguageKey: '{lll}mail.wizard.categories.description'}"/>
    <div class="row justify-content-between mail-wizard-categories">
        <div class="col-12 col-md-8">
            <f:form action="updateCategories" arguments="{mail:mail.uid}" method="post" enctype="multipart/form-data">

                <f:if condition="{data.rows}">
                    <div class="panel panel-default">
                        <div class="table-fit">
                            <table class="table table-striped table-hover">
                                <tbody>
                                <f:for each="{data.rows}" as="row">
                                    <f:if condition="{row.colPos}">
                                        <f:then>
                                            <tr class="table-primary">
                                                <th class="col-icon nowrap"></th>
                                                <th class="col-title col-responsive nowrap">
                                                    <f:translate key="{lll}mail.wizard.categories.column"/>
                                                    : {row.colPos}
                                                </th>
                                                <th class="nowrap">
                                                    <f:translate key="{lll}mail.wizard.categories.restrictToCategories"/>
                                                </th>
                                            </tr>
                                        </f:then>
                                        <f:else>
                                            <tr data-content-id="c{row.uid}">
                                                <td class="align-top col-icon nowrap">
                                                    <core:iconForRecord row="{row}" table="tt_content" size="small"/>
                                                </td>
                                                <td class="align-top col-title col-responsive nowrap">
                                                    {row.header} [{row.CType}
                                                    <f:if condition="{row.list_type}">; {row.list_type}</f:if>
                                                    ]
                                                    <f:if condition="{row.bodytext}"><br>{row.bodytext}</f:if>
                                                </td>
                                                <td class="col-control nowrap">
                                                    <f:if condition="{row.categories -> f:count()}">
                                                        <f:for each="{row.categories}" as="category">
                                                            <f:form.hidden name="categories[{row.uid}][{category.uid}]" value="0"/>
                                                            <div class="form-check form-check-inline">
                                                                <f:form.checkbox class="form-check-input mail-content-category"
                                                                                 data="{category:category.uid, content:row.uid}"
                                                                                 value="1" id="categories_{row.uid}_{category.uid}"
                                                                                 name="categories[{row.uid}][{category.uid}]" checked="{category.checked}"/>
                                                                <label class="form-check-label" for="categories_{row.uid}_{category.uid}">{category.title}</label>
                                                            </div>
                                                        </f:for>
                                                    </f:if>
                                                </td>
                                            </tr>
                                        </f:else>
                                    </f:if>
                                </f:for>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </f:if>
            </f:form>
        </div>
        <f:if condition="{mail.htmlContent}">
            <div class="col-12 col-md-4">
                <div class="mail-wizard-preview" id="mail-wizard-preview">
                    <div class="mail-wizard-preview-body" id="mail-wizard-preview-body">
                        <div>{mail.htmlContent -> mail:getBodyContent()}</div>
                    </div>
                </div>
            </div>
        </f:if>
    </div>

    <f:render partial="Wizard/Navigation" arguments="{mail:mail.uid, previousAction: navigation.previousAction, nextAction: navigation.nextAction, lll:lll}"/>
</f:section>
</html>
