<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
      xmlns:mail="http://typo3.org/ns/MEDIAESSENZ/Mail/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Default"/>

<f:section name="content">
    <f:variable name="lll" value="LLL:EXT:mail/Resources/Private/Language/Modules.xlf:"/>
    <f:variable name="lll2" value="LLL:EXT:mail/Resources/Private/Language/locallang_tca.xlf:"/>
    <h1><f:translate key="{lll}mail.wizard.title"/>: <f:translate key="{lll}mail.wizard.selectSource"/></h1>
    <f:render partial="Wizard/Steps" arguments="{navigation: navigation}"/>
    <div class="panel-group" id="mail-wizard-source-select-panel">
        <f:if condition="{panel.draft.data}">
            <f:variable name="counter" value="{panel.draft.data -> f:count()}"/>
            <f:variable name="title"><f:translate key="{lll}mail.wizard.draftMails"/></f:variable>
            <f:render partial="Panel" arguments="{lll:lll, parentId:'mail-wizard-source-select-panel', title: title, index:7, open:panel.draft.open, counter: counter}" contentAs="panelBody">
                <f:render section="DraftMailsPanel" arguments="{lll:lll, data:panel.draft, hideCategoryStep:hideCategoryStep, mailSysFolderUid:mailSysFolderUid}" />
            </f:render>
        </f:if>
        <f:if condition="{panel.internal}">
            <f:variable name="counter" value="{panel.internal.data -> f:count()}"/>
            <f:variable name="title"><f:translate key="{lll}mail.wizard.internalPage"/></f:variable>
            <f:variable name="additionalHeading"><core:icon identifier="app-pagetree-folder-contains-mail" /> {pageInfo.title} [{pageInfo.uid}]</f:variable>
            <f:render partial="Panel" arguments="{lll:lll, parentId:'mail-wizard-source-select-panel', title: title, index:4, open:panel.internal.open, counter: counter, additionalHeading: additionalHeading}" contentAs="panelBody">
                <f:render section="InternalPanel" arguments="{lll:lll, data: panel.internal, mailSysFolderUid:mailSysFolderUid}" />
            </f:render>
        </f:if>
        <f:if condition="{panel.external}">
            <f:variable name="title"><f:translate key="{lll}mail.wizard.externalPage"/></f:variable>
            <f:render partial="Panel" arguments="{lll:lll, parentId:'mail-wizard-source-select-panel', title: title, index:5, open:panel.external.open, counter: 0}" contentAs="panelBody">
                <f:render section="ExternalPanel" arguments="{lll:lll, settings: settings, data: panel.external}" />
            </f:render>
        </f:if>
        <f:if condition="{panel.quickMail}">
            <f:variable name="title"><f:translate key="{lll}mail.wizard.quickMail"/></f:variable>
            <f:render partial="Panel" arguments="{lll:lll, parentId:'mail-wizard-source-select-panel', title: title, index:6, open:panel.quickMail.open, counter: 0}" contentAs="panelBody">
                <f:render section="QuickMailPanel" arguments="{lll:lll, settings: settings, data: panel.quickMail}" />
            </f:render>
        </f:if>
    </div>
    <div class="t3js-modal modal fade modal-type-default modal-severity-notice modal-style-default modal-size-medium" id="previewModal">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="t3js-modal-content modal-content">
                <div class="modal-header">
                    <h4 class="t3js-modal-title modal-title"></h4>
                    <button class="t3js-modal-close close" data-bs-dismiss="modal" aria-label="Close">
                        <core:icon identifier="actions-close" />
                        <span class="visually-hidden"><f:translate key="{lll}general.button.cancel" /></span>
                    </button>
                </div>
                <div class="t3js-modal-body modal-body">
                    <iframe width="100%" height="440" title="Mail Preview" frameborder="0"></iframe>
                </div>
            </div>
        </div>
    </div>
    <div style="--bs-modal-zindex:1051;" class="modal fade modal-type-default modal-severity-notice modal-style-default modal-size-medium" id="mail-configuration-modal" tabindex="-1" aria-labelledby="mail-configuration-modal-label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="mail-configuration-modal-label"><f:translate key="{lll}configuration.panel.module.header" /></h5>
                    <button class="t3js-modal-close close" data-bs-dismiss="modal" aria-label="Close">
                        <core:icon identifier="actions-close" />
                        <span class="visually-hidden"><f:translate key="{lll}general.button.cancel" /></span>
                    </button>
                </div>
                <div class="modal-body">
                    <f:form action="updateConfiguration" id="mailConfigurationForm" method="post" enctype="multipart/form-data">
                        <f:render partial="Configuration/Tabs" arguments="{_all}" />
                    </f:form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-bs-dismiss="modal"><f:translate key="{lll}general.button.cancel" /></button>
                    <button type="submit" form="mailConfigurationForm" class="btn btn-primary"><f:translate key="{lll}general.button.save" /></button>
                </div>
            </div>
        </div>
    </div>
</f:section>

<f:section name="previewButtons">
    <f:variable name="previewLinks" value="{mail:previewLinks(uid:uid,pageId:pageId)}"/>
    <f:for each="{previewLinks}" as="previewLinks" key="type">
        <f:if condition="{type} == 'htmlPreview'">
            <f:variable name="addIconOverlay" value="0" />
            <f:if condition="{previewLinks -> f:count()} > 1">
                <f:variable name="addIconOverlay" value="1" />
            </f:if>
            <f:for each="{previewLinks}" as="htmlPreviewLink">
                <f:variable name="overlay" value="" />
                <f:if condition="{addIconOverlay}">
                    <f:variable name="iconOverlay" value="{htmlPreviewLink.flagIcon}" />
                </f:if>
                <a href="{htmlPreviewLink.uri}" class="js-mail-preview-modal btn btn-default" data-bs-toggle="modal" data-bs-target="#previewModal" data-modal-title="{title}">
                    <span data-bs-toggle="tooltip" data-bs-placement="top" title="{htmlPreviewLink.title}">
                        <core:icon identifier="mail-preview-html" overlay="{iconOverlay}" size="small"/>
                    </span>
                </a>
            </f:for>
        </f:if>
        <f:if condition="{type} == 'textPreview'">
            <f:variable name="addIconOverlay" value="0" />
            <f:if condition="{previewLinks -> f:count()} > 1">
                <f:variable name="addIconOverlay" value="1" />
            </f:if>
            <f:for each="{previewLinks}" as="textPreviewLink">
                <f:variable name="overlay" value="" />
                <f:if condition="{addIconOverlay}">
                    <f:variable name="iconOverlay" value="{textPreviewLink.flagIcon}" />
                </f:if>
                <a href="{textPreviewLink.uri}" class="js-mail-preview-modal btn btn-default" data-bs-toggle="modal" data-bs-target="#previewModal" data-modal-title="{title}">
                    <span data-bs-toggle="tooltip" data-bs-placement="top" title="{textPreviewLink.title}">
                        <core:icon identifier="mail-preview-text" overlay="{iconOverlay}" size="small"/>
                    </span>
                </a>
            </f:for>
        </f:if>
    </f:for>
</f:section>

<f:section name="DraftMailsPanel">
    <f:variable name="lllTypePrefix" value="LLL:EXT:mail/Resources/Private/Language/locallang_tca.xlf:tx_mail_domain_model_mail.type.I." />
    <div class="panel panel-default">
        <table class="table table-striped table-hover mb-0">
            <thead class="table-light">
            <tr>
                <th style="width: 1%">&nbsp;</th>
                <th class="col-title col-responsive nowrap"><f:translate key="{lll}mail.wizard.subject"/></th>
                <th><f:translate key="{lll}mail.wizard.type"/></th>
                <th><f:translate key="{lll}mail.wizard.lastModified"/></th>
                <th><f:translate key="{lll}mail.wizard.size"/></th>
                <th><f:translate key="{lll}mail.wizard.attachment"/></th>
                <th class="col-control nowrap"></th>
                <th><f:translate key="{lll}mail.wizard.step"/></th>
                <th class="col-control nowrap"></th>
            </tr>
            </thead>
            <tbody>
            <f:for each="{data.data}" as="data">
                <tr>
                    <td class="col-icon nowrap" style="width: 1%">
                        <core:iconForRecord row="{uid: data.uid, type:0}" table="tx_mail_domain_model_mail"/>
                    </td>
                    <td class="col-title col-responsive nowrap">
                        {data.subject}
                    </td>
                    <td class="nowrap"><f:if condition="{data.quickMail}"><f:then><f:translate key="{lll}mail.type.quickMail"/></f:then><f:else><f:translate key="{lllTypePrefix}{data.type}"/></f:else></f:if></td>
                    <td class="nowrap">{data.lastModified -> f:format.date(format:'H:i d-m-Y')}</td>
                    <td class="nowrap">{data.renderedSize -> f:format.bytes()}</td>
                    <td class="nowrap"><f:if condition="{data.attachment}">
                        <core:icon identifier="mail-attachment" size="small"/>
                    </f:if></td>
                    <td class="nowrap">
                        <f:if condition="{data.htmlContent}">
                            <button class="btn btn-default" data-bs-toggle="modal" data-bs-target="#mail-wizard-open-mail-preview-html-body-{data.uid}">
                                <span data-bs-toggle="tooltip" data-bs-placement="top" title="{f:translate(key:'{lll}mail.wizard.htmlMailBody.title')}">
                                    <core:icon identifier="mail-preview-html" overlay="{iconOverlay}" size="small"/>
                                </span>
                            </button>
                            <div class="modal fade modal-type-default modal-severity-notice modal-style-default modal-size-medium" id="mail-wizard-open-mail-preview-html-body-{data.uid}" tabindex="-1" aria-labelledby="mail-wizard-open-mail-preview-html-body-{data.uid}-label" aria-hidden="true">
                                <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="mail-wizard-open-mail-preview-html-body-{data.uid}-label">{data.subject}</h5>
                                            <button class="t3js-modal-close close" data-bs-dismiss="modal" aria-label="Close">
                                                <core:icon identifier="actions-close" />
                                                <span class="visually-hidden">Close</span>
                                            </button>
                                        </div>
                                        <div class="modal-body nowrap-disabled">
                                            <div>{data.htmlContent -> mail:getBodyContent()}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </f:if>
                        <f:if condition="{data.plainContent}">
                            <button class="btn btn-default" data-bs-toggle="modal" data-bs-target="#mail-wizard-open-mail-preview-plain-body-{data.uid}">
                                <span data-bs-toggle="tooltip" data-bs-placement="top" title="{f:translate(key:'{lll}mail.wizard.plainMailBody.title')}">
                                    <core:icon identifier="mail-preview-text" overlay="{iconOverlay}" size="small"/>
                                </span>
                            </button>
                            <div class="modal fade modal-type-default modal-severity-notice modal-style-default modal-size-medium" id="mail-wizard-open-mail-preview-plain-body-{data.uid}" tabindex="-1" aria-labelledby="mail-wizard-open-mail-preview-plain-body-{data.uid}-label" aria-hidden="true">
                                <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="mail-wizard-open-mail-preview-plain-body-{data.uid}-label">{data.subject}</h5>
                                            <button class="t3js-modal-close close" data-bs-dismiss="modal" aria-label="Close">
                                                <core:icon identifier="actions-close" />
                                                <span class="visually-hidden">Close</span>
                                            </button>
                                        </div>
                                        <div class="modal-body nowrap-disabled">
                                            <pre class="p-4" style="white-space: pre-wrap;">{data.plainContent -> mail:removeMailBoundaries()}</pre>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </f:if>
                        <f:if condition="!{data.scheduledBegin}">
                            <f:link.action action="delete" arguments="{mail:data.uid}" class="btn btn-default" data="{bs-toggle:'tooltip', bs-placement:'top'}" title="Delete mail"><core:icon identifier="actions-edit-delete" size="small"/></f:link.action>
                        </f:if>
                    </td>
                    <td>
                        {data.step} /
                        <f:if condition="{data.external} || {hideCategoryStep}">
                            <f:then>4</f:then>
                            <f:else>5</f:else>
                        </f:if>
                    </td>
                    <td class="col-control nowrap">
                        <f:link.action action="draftMail" arguments="{mail:data.uid}" class="btn btn-mail-theme text-uppercase"><f:translate key="{lll}general.button.continue" default="Continue" /></f:link.action>
                    </td>
                </tr>
            </f:for>
            </tbody>
        </table>
    </div>
</f:section>

<f:section name="InternalPanel">
    <f:if condition="{data.data}">
        <f:then>
            <f:render partial="InfoBox" arguments="{field: 'mail.wizard.internalPage'}" />
            <div class="panel panel-default">
                <table class="table table-striped table-hover mb-0">
                    <thead class="table-light">
                    <tr>
                        <th style="width: 1%"></th>
                        <th class="col-title col-responsive nowrap"><f:translate key="{lll}mail.wizard.internalPage" default="Page" /></th>
                        <th class="nowrap"></th>
                        <th class="col-control nowrap"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <f:for each="{data.data}" as="data">
                        <tr class="db_list_normal">
                            <td class="col-icon nowrap" style="width: 1%">
                                <span data-bs-trigger="hover focus" data-bs-container="body" data-bs-toggle="tooltip" data-bs-placement="right" title="{data.toolTip}">
                                    <core:icon identifier="app-pagetree-mail" overlay="{f:if(condition: data.fe_group, then: 'overlay-frontenduser')}" size="small"/>
                                </span>
                            </td>
                            <td class="col-title col-responsive nowrap">{data.title}</td>
                            <td class="nowrap">
                                <a href="{be:moduleLink(route:'web_layout', currentUrlParameterName: 'mailReturnPath', arguments:'{id: data.uid}')}"  class="btn btn-default" data-bs-trigger="hover focus" data-bs-container="body" data-bs-toggle="tooltip" data-bs-placement="top" title="{f:translate(key: '{lll}general.button.editPage')}">
                                    <core:icon identifier="actions-page-open" size="small"/>
                                </a>
                                <mail:editMailPageContent uid="{data.uid}" class="btn btn-default" title="{f:translate(key: '{lll}general.button.editContent')}" data="{bs-trigger:'hover focus', bs-container:'body', bs-toggle:'tooltip', bs-placement:'top'}">
                                    <core:icon identifier="actions-document-edit" size="small"/>
                                </mail:editMailPageContent>
                                <f:render section="previewButtons" arguments="{uid:data.uid,title:data.title,pageId:data.pid}" />
                            </td>
                            <td class="col-control nowrap">
                                <f:link.action action="createMailFromInternalPage" arguments="{page: data.uid}" class="btn btn-mail-theme text-uppercase"><f:translate key="{lll}general.button.next" default="Next" /></f:link.action>
                            </td>
                        </tr>
                    </f:for>
                    </tbody>
                </table>
            </div>
        </f:then>
        <f:else>
            <f:be.infobox state="-1" title="{f:translate(key: '{lll}mail.wizard.noMailPagesFound.title')}">
                <f:translate key="{lll}mail.wizard.noMailPagesFound.message"/>
            </f:be.infobox>
        </f:else>
    </f:if>
</f:section>

<f:section name="ExternalPanel">
    <f:render partial="InfoBox" arguments="{field: 'mail.wizard.externalPage'}" />
    <f:form action="createMailFromExternalUrls" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="externalMailHtmlUri" class="form-label"><f:translate key="{lll}configuration.externalMailHtmlUrl"/></label>
            <f:form.textfield id="externalMailHtmlUri" type="url" placeholder="https://" name="htmlUrl" class="form-control"/>
        </div>
        <div class="mb-3">
            <label for="externalMailPlainUri" class="form-label"><f:translate key="{lll}mail.wizard.externalMailPlainTextUrl"/></label>
            <f:form.textfield id="externalMailPlainUri" type="url" placeholder="https://" name="plainTextUrl" class="form-control"/>
        </div>
        <div class="mb-3">
            <label for="subjectForExternalMail" class="form-label"><f:translate key="{lll}mail.wizard.externalMailSubject"/></label>
            <f:form.textfield id="subjectForExternalMail" type="text" placeholder="{f:translate(key: '{lll}mail.wizard.subject')}" name="subject" class="form-control" required="1" />
        </div>
        <button class="btn btn-mail-theme text-uppercase" type="submit"><f:translate key="{lll}general.button.next" default="Next" /></button>
    </f:form>
</f:section>

<f:section name="QuickMailPanel">
    <f:render partial="InfoBox" arguments="{field: 'mail.wizard.quickMail'}" />
    <f:form action="createQuickMail" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="quickmailFromName" class="form-label"><f:translate key="{lll}mail.wizard.quickmail.senderName"/></label>
            <f:form.textfield id="quickmailFromName" type="text" name="fromName" value="{data.fromName}" class="form-control" required="1" />
        </div>
        <div class="mb-3">
            <label for="quickmailFromEmail" class="form-label"><f:translate key="{lll}mail.wizard.quickmail.senderEmail"/></label>
            <f:form.textfield id="quickmailFromEmail" type="email" name="fromEmail" value="{data.fromEmail}" class="form-control" required="1" />
        </div>
        <div class="mb-3">
            <label for="quickmailSubject" class="form-label"><f:translate key="{lll}mail.wizard.externalMailSubject"/></label>
            <f:form.textfield id="quickmailSubject" type="text" name="subject" class="form-control" required="1" />
        </div>
        <div class="mb-3">
            <label for="quickmailMessage" class="form-label"><f:translate key="{lll}mail.wizard.quickmail.message"/></label>
            <f:form.textarea id="quickmailMessage" rows="10" name="message" class="form-control"></f:form.textarea>
        </div>
        <div class="form-check mb-3">
            <f:form.checkbox id="quickmailBreakLines" class="form-check-input mt-1" name="breakLines" value="1" />
            <label for="quickmailBreakLines" class="form-check-label"><f:translate key="{lll}mail.wizard.quickmail.breakLines"/></label>
        </div>
        <button class="btn btn-mail-theme text-uppercase" type="Submit"><f:translate key="{lll}general.button.next" default="Next" /></button>
    </f:form>
</f:section>
</html>
