<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
      xmlns:mail="http://typo3.org/ns/MEDIAESSENZ/Mail/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Default"/>

<f:section name="content">
    <f:variable name="lll" value="LLL:EXT:mail/Resources/Private/Language/Modules.xlf:"/>
    <h1><f:translate key="{lll}mail.wizard.title"/>: <f:translate key="{lll}mail.wizard.testMail"/></h1>
    <f:render partial="Wizard/Steps" arguments="{navigation: navigation}"/>
    <h2><core:iconForRecord row="{uid: mailUid, type:0}" table="tx_mail_domain_model_mail" size="default"/> {title}</h2>
    <f:render partial="HelpModal" arguments="{titleLanguageKey: '{lll}mail.wizard.testMail.info.title', bodyLanguageKey: '{lll}mail.wizard.testMail.info.message'}"/>
    <div class="mb-4">
        <h4><f:translate key="{lll}mail.wizard.testMail.individual"/></h4>
        <div class="row mb-3">
            <div class="col-12 col-xl-8 col-xxl-6">
                <f:form action="sendTestMail" arguments="{mail: mailUid}" method="post" enctype="multipart/form-data">
                    <f:variable name="recipients" value="{backendUser.email}"/>
                    <div class="input-group mb-3">
                        <f:variable name="recipients" value=""/>
                        <f:if condition="{data.ttAddress}">
                            <f:then>
                                <f:for each="{data.ttAddress}" as="address">
                                    <f:variable name="recipients" value="{recipients}{address.email};"/>
                                </f:for>
                            </f:then>
                            <f:else>
                                <f:variable name="recipients" value="{backendUser.email}"/>
                            </f:else>
                        </f:if>
                        <f:form.textfield class="form-control" placeholder="Mail address" name="recipients" value="{recipients}"
                               additionalAttributes="{aria-label:'Test mail recipient', aria-describedby: 'send-test-mail-tt-address-{address.uid}-button'}"/>
                        <f:form.button class="btn btn-outline-primary text-uppercase" id="send-test-mail-tt-address-{address.uid}-button" type="submit">
                            <f:translate key="{lll}general.button.send"/>
                        </f:form.button>
                    </div>
                </f:form>
            </div>
        </div>
        <f:if condition="{data.mailGroups}">
            <h4>
                <f:translate key="{lll}mail.wizard.testMail.groups"/>
            </h4>
            <div class="my-3 row">
                <f:for each="{data.mailGroups}" key="groupId" as="mailGroup">
                    <f:variable name="recipients" value=""/>
                    <div class="mb-4 col-12 col-md-6 col-xl-4 col-xxl-3">
                        <div class="mb-3 panel panel-default">
                            <table class="table table-striped table-hover mb-0">
                                <thead>
                                <tr>
                                    <th>{mailGroup.title}</th>
                                </tr>
                                </thead>
                                <tbody>
                                <f:for each="{mailGroup.groups}" key="type" as="group">
                                    <f:for each="{group}" as="recipient">
                                        <tr>
                                            <td>
                                                <core:iconForRecord row="{uid: recipient.uid}" table="{type}"/>
                                                {recipient.name}, {recipient.email}
                                                <f:variable name="recipients" value="{recipient.email};{recipients}"/>
                                            </td>
                                        </tr>
                                    </f:for>
                                </f:for>
                                </tbody>
                            </table>
                        </div>
                        <f:form action="sendTestMail" arguments="{mail: mailUid}" method="post" enctype="multipart/form-data">
                            <f:form.hidden class="form-control" name="recipients" value="{recipients}" />
                            <f:form.button class="btn btn-outline-primary text-uppercase" id="send-test-mail-group-{groupId}-button" type="submit">
                                <f:translate key="{lll}general.button.sendTestMail" arguments="{0: mailGroup.title}"/>
                            </f:form.button>
                        </f:form>
                    </div>
                </f:for>
            </div>
        </f:if>
    </div>
    <f:render partial="Wizard/Navigation" arguments="{mail:mailUid, previousAction: navigation.previousAction, nextAction: navigation.nextAction, lll:lll}"/>
</f:section>
</html>
